@import 'vars';

@import 'o-fonts/main';
@import 'o-colors/main';


:global body {
	@include oColorsFor(page, background body);
	margin: 0;
}

:global * {
	box-sizing: border-box;
}

.main {
	max-width: 40em;
	margin: $header-height auto .5rem;
	padding: 0 .5rem;
}
