@import 'vars';
@import 'o-fonts/main';
@import 'o-typography/main';
@import 'o-colors/main';

@include oFontsInclude(FinancierDisplayWeb, regular); // title
@include oFontsInclude(MetricWeb, semibold); // headings

.article {
	padding: 1rem 0;
}

.body {
	@include oTypographyBodyWrapper;

	img {
		max-width: 100%;
		height: auto;
	}
}

.title {
	@include oTypographyHeading1;
}

.subhead {
	@include oTypographyLead;
}

:global .n-content-image {
	margin: 1rem 0;
}
