@import 'vars';
@import 'o-colors/main';

@import 'vars';

.header {
	@include oColorsFor(page, background);
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: $header-height;
	background-image: url(https://image.webservices.ft.com/v1/images/raw/fticon:brand-ft-masthead?source=newsfeed);
	background-position: center;
	background-size: auto 50%;
	background-repeat: no-repeat;
	border-bottom: 1px solid oColorsGetPaletteColor('pink-tint2');
}
